:root {
    --white: #fff;
    --black: #000;
    --text-color: #333;
    --red: #B5292F;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

html, body {
    background-color: #e6e6e6;
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.cart-container {
    position: relative;
}

.cart-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-45%);
    background-color: var(--white);
    border: 2px solid #eee;
    padding: 10px;
    box-shadow: 0px 4px 8px var(--shadow-color);
    width: 350px;
    display: none; /* Ẩn mặc định */
    z-index: 1;
    cursor: text;
}

.cart-container:hover .cart-dropdown {
    display: block;
}

.cart-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-dropdown li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    color: var(--text-color);
}

.cart-dropdown li:last-child {
    border-bottom: none;
}

.empty-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    color: var(--text-color);
}

.empty-message i {
    font-size: 50px;
    color: rgba(224, 224, 224, 0.5);
    margin-bottom: 10px;
}

/* Item giỏ hàng */
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-item-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart-item-name {
    flex-grow: 1;
    font-size: 16px;
}

.cart-item-price {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
}

.remove-item-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

.remove-item-btn i {
    margin-right: 5px;
}

/* Nút trở lại trang trước */
.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    z-index: 100;
    background-color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
.back-to-top.active {
    display: flex;
    opacity: 1;
    transform: scale(1);
}
