:root {
    --white: #fff;
    --black: #000;
    --text-color: #333;
    --red: #B5292F;
    --shadow-color: rgb(0 0 0 / 10%);
}
html, body {
    background-color: #e6e6e6;
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
header {
    position: sticky;
    top:0;
    z-index: 6;    
}
/* class*/
.container {
    width: 1200px;
    padding: auto;
    margin: auto;
}
.header-top {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}
#session_right li a:hover{
    text-decoration: underline;
    color: inherit;
}
.header-middle{
    padding: 5px;
    position: sticky;
    z-index: 5;
    background-color: #eee;
}

.header-middle .container {
    height: 50px;
    padding: 5px;
}
.header-middle ul li:hover{
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    color: var(--red); 
}
        
.header-bottom{ 
    transition: transform 0.6s ease;
    position: sticky;
    border-top: 1px solid #eee;
    background-color: var(--white);
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    z-index: 4;
    height: 53px;
}

.header-bottom.hide{
    transform: translateY(-53px);
}
        
/* .header-logo-img {
    width: 150px;
} */
.btn{
    background-color: var(--red);
    color: var(--white);
    border: none;
    box-shadow: none;
}
.btn:hover{
    background-color: #c71a22;
    color: var(--white);
}
.btn:focus{
    box-shadow: none;   

}

.pointer{
    cursor: pointer;
}
.modal-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.form-description {
    text-align: center;
    color: #808080;
    font-size: 14px;
}
.form-title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}
.change-login {
    padding-top: 15px;
    text-align: center;
    font-size: 14px;
}
 .form-submit {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--red);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.form-check-label a, .change-login a{
    color: var(--red);
    margin-left: 5px;
}
.form-message {
    color: red;
    font-size: 12px;
}

input[type="checkbox"] {
    accent-color: #B5292F; 
}
input[type="checkbox"]+label {
    display: flex;
    cursor: pointer;
    position: relative;
    font-size: 13px;
}
.modal-header{
    height: 20px;
    border: none;
}
.modal-header .close{
    padding: 5px;
}
button.close {
    outline: none;
    border: none;
}
 
.menu-list {
    display: flex;
    height: 49px;
    white-space: nowrap;
    padding: 0;
    list-style-type: none;
}
.menu-link {
    color: var(--black);
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    position: relative;
    font-size: 15px;
}

.menu-link:hover::after {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.menu-link::after {
    content: "";
    position: absolute;
    height: 3px;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: visibility 0.3s, transform 0.3s, opacity 0.3s;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--red);
    transition: all 0.3s ease;
}
#section_slider {
    height: 100%px;
}
#section_slider  .container{
    padding: 0;
    margin-top: 20px;
}
#section_slider  .carousel-inner .item > img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
/* Css footer */
.footer {
    background-color: #f2f2f2;
    margin-top: 30px;
    border-top: 4px solid var(--red);
}
.footer-top {
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top-content {
    display: flex;
    line-height: 20px;
}

.footer-top-img {
    border-right: 1px solid #e6e6e6;
    padding-right: 25px;
}

.footer-top-img img {
    width: 240px;
}

.footer-top-subbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.footer-top-subs-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-top-subs-text {
    font-size: 15px;
    color: #888;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
}
.form-ground {
    margin-left: 50px;
    line-height: 26px;
    display: flex;
}

.form-ground-input,
.form-ground-btn {
    height: 40px;
    border-radius: 99px;
    font-size: 16px;
}

.form-ground-input {
    padding: 0 30px;
    border: 1px solid #ccc;
    color: #4D5765;
    outline: none;
    font-size: 15px;
}

.form-ground-btn {
    margin-left: 10px;
    padding: 0 20px;
    cursor: pointer;
    background: #B5292F;
    overflow: hidden;
    outline: none;
    border: none;
    color: white;
}

.form-ground-btn span {
    margin-right: 10px;
}

.form-ground-btn:hover {
    background-color: #c71a22;
}

.widget-area {
    padding: 60px 0 30px;
}

.widget-row {
    display: flex;
    justify-content: space-between;
}

.widget-row-col-1,
.widget-row-col {
    flex: 1; 
    min-width: 200px; 
}

.widget-row>div{
    padding: 0 10px 10px;
}

.widget-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    
}

.widget-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: none;
    height: 3px;
    width: 100px;
    background-image: linear-gradient(to right, var(--red), transparent);
}
.widget-row-col {
    margin-left: 50px;

}
.widget-row-col-content {
    padding-bottom: 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.widget-social {
    display: flex;
}

.widget-social-item {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s linear;
}

.widget-contact-item {
    margin-bottom: 12px;
}

.widget-contact-item i {
    transition: transform 0.3s linear;
}

.widget-contact-item a {
    color: #2C2C2C;
}

.widget-contact-item:hover i {
    transform: translateX(4px);
}

.widget-social-item:hover {
    background-color: var(--red);
    transform: scale(1.1);
    border: none;
}

.widget-social-item:hover i {
    color: #fff;
}

.widget-social-item i {
    color: #2C2C2C;
}

.widget-contact i {
    font-size: 16px;
    margin-right: 10px;
}

/* */
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--red);
    color: var(--white)
}

.contact-content {
    margin-left: 10px;
    width: 80%;
    line-height: 1.5;
    font-size: 15px;
}
/* Phần cuối trang*/
.copyright-wrap {
    background-color: #343a40;
    color: var(--white);
    border-top: 1px solid #e6e6e6;
}

.copyright-content {
    display: flex;
    align-items: center;
    justify-content: center;
}