.checkout-container {
    max-width: 1200px;
    background-color: #fff;
    padding: 10px;
    margin: 10px auto;
}

.checkout-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px; /* Giảm kích thước chữ */
}

#cart2-items{
    margin: 10px;
    padding: 0px;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
    align-content: center;
    justify-items: center;
}
.cart-summary {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}


.cart-summary p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.carts-item-img{
    max-width: 100px !important;
    height: auto;
}

#cart-total {
    color: #FF5C5C;
    font-size: 20px;
    font-weight: bold;
}

#place-order-btn {
    padding: 8px 16px;
    font-size: 16px;
}